body  {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
#newIcon {
    float:right;
    background-color: rgba(0,0,0,0.4);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#newIcon img {
    width: 40px;
    height: 40px;
}

.headerImage {
    background-image: url('../images/running.jpg');
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

.headerImage h1 {
 z-index: 100;
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  left: 12px;
  color:white;
  top: 130px;
  background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
    padding: 5px;
}

.weekHeader a {
    color: white; 
    text-decoration: none;
}
.weekHeader img {
    width: 25px;
    float:right;
    margin-top:-4px;
}

.done {
    background-color: #d3d3d3;
    width: 20px;
    height: 20px;
    margin-top:12px;
    border-radius: 50%;
}

main {
    max-width: 1390px;
    margin:auto;
}
.container {
    display: grid;
    grid-template-columns: 70% 30%;
 
    grid-gap: 30px;
}

.weekHeader  {
    background-color: #136fa9;
    color:white;
    padding:14px;
}

.weekHeader h4 {
    margin:0px;
}

.workout {
    padding:14px;
    display: grid;
    grid-template-columns: 10% 90%;
}
